<div class="container">
  <%= render 'shared/header', text:"GROUPS", path:root_path %>
  <div class="groups-page">
    <%@groups.each do |group|%>
      <div class="group-nav-link">
        <%=link_to group do %>
          <div class="group-image thumb">
            <img src="<%= group.icon %>">
          </div>
          <div class="group-info">
            <span class="group name"><%=group.name%></span><br/>
            <span>Create on: <%= group.created_at.strftime("%m/%d/%Y")%></span>
          </div>
        <%end%>
      </div>
    <%end%>
    <%= link_to 'New Group', new_group_path , class: "create-button shadow" %>
  </div>
</div>

