<%= render 'shared/header', text:"LOGIN", path:root_path %>
<div class="container">
<div class="form-container">
<h1>LOGIN</h1>
<%= form_with(model:@group,scope:"group",local:true)do |f| %>
<fieldset>
<%= f.label :name, 'Name' %>
  <%= f.text_field :name %>
</fieldset>
  <fieldset>
  <%= f.label :icon, 'icon' %>
  <%= f.hidden_field :icon_cache %>
  <%= f.file_field :icon%>
</fieldset>
  <%= f.submit "Login",class:'button bg-blue' %>
<% end %>
</div>
</div>