<div class="container ">
  <div class="user-profile">

      <div class="user-info-widget">
        <div class="gravatar">
          <%= gravatar_for current_user %>
        </div>
        <div class="user-info">
          <p><%= current_user.name %></p>
          <p><%= current_user.email %></p>
          <%= link_to 'Edit Profile', edit_user_registration_path , class: "button" %>
        </div>
      </div>

      <div class="user-navigation-widget">
        <div class="home-nav-link shadow">
          <%= link_to groups_path do %>
            <i class="fas fa-boxes  fa-2x text-light" aria-hidden="true"></i> <span> Groups</span>
          <%end%>
        </div>

        <div class="home-nav-link shadow">
          <%= link_to transactions_path do %>
            <i class="fa fa-layer-group  fa-2x text-light" aria-hidden="true"></i> <span> My Transactions</span>
          <%end%>
        </div>

        <div class="home-nav-link shadow">
          <%= link_to groups_path do %>
            <i class="fa fa-layer-group  fa-2x text-light" aria-hidden="true"></i> <span> External Transactions</span>
          <%end%>
        </div>

        <div class="logout">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
        </div>

      </div>

  </div>
</div>
