<!DOCTYPE html>
<html>
  <head>
    <title>TransactionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cce6e1325c.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <% flash.each do |type, msg| %>
  <div id="flash">
     <p id="<%=type%>"><%= msg %></p>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
